RewriteEngine on
RewriteCond %{HTTP_HOST} ^fumo.tech$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.fumo.tech$
RewriteCond %{REQUEST_URI} !project/public/
RewriteRule (.*) /project/public/$1 [L]
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]