@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');


body{
  background: rgb(255, 233, 236); /* fallback for old browsers */
  font-family: 'Georama', sans-serif;
  font-size: 25px;
}

.form-group{
	background: rgb(255, 233, 236);
}

.card-body{
	background: rgb(255, 233, 236);
	border: none;
}

.card-header{
	background: rgb(255, 233, 236);
}

.btn{
	background: rgb(0, 0, 0);
	color: white;	
}

.btn:hover{
	color: rgb(249, 161, 255);
}

.nav-item>a{
	color: black;
}

.nav-item>a:hover{
	color: rgb(249, 161, 255);
}

.navbar-brand{
	font-size: 25px;
	color: black;
	
}

.navbar-brand:hover{
	color: black;
}
